body{
    color:aqua;
    background: black;
}
header{
    border-bottom: solid 2 px gray;
    padding: 20 px;
    font-size: 32 px;
    color:aquamarine;
}
section {
    background: rgb(0,0,160);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.chamadaa-texto {
    margin-right: 5%;
}